body{
    color: white;
    background: rgb(25, 25, 25);
    }
    .heading{
    width: 80%;
    font-size: 22px;
    }
    #camera{
    border: 2px dashed rgb(90, 44, 228);
    width: 350px;
    height: 300px;
    }
    .name_of_objects, #result_object_name, #result_object_accuracy{
    color: rgba(60, 212, 128, 0.87);
    }